<section class="global-container">
    <div class="header-global-container ">
        <button (click)="displayMenu()">hamburger</button>
    </div>
    <div class="main-div-container">
        <router-outlet></router-outlet>
    </div>

    <div id="nav-container">
        <ul id="menu-global">
            <li><a routerLink="/signin">Se connecter</a></li>
            <li><a routerLink="/signup">S'inscrire</a></li>
        </ul>
    </div>
    <footer class="footer-global-container"> footer</footer>
</section >

<router-outlet></router-outlet>    
